.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bg .container-cart{
    background: hsl(209, 23%, 22%);
    min-width: 80%;
    min-height: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.bg .container-cart h2{
    /* color: #000; */
}