button{
    border-radius: 5px;
    border: 0,2 solid;
    min-width: 30px;
    min-height: 30px;
}
.buttonBuy{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50 !important;
    width: 50%;
    border: 0;
    padding: 15px;
    margin: 20px 0 20px 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}