@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


.container {
  max-width: 98%;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.grid-item {
  height: 450px;
  flex-basis: 25%;
  width: 300px;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  text-decoration: none;
}


.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -webkit-box-shadow: 7px 10px 46px -16px rgba(0,0,0,0.56);
-moz-box-shadow: 7px 10px 46px -16px rgba(0,0,0,0.56);
box-shadow: 7px 10px 46px -16px rgba(0,0,0,0.56);
  -moz-box-sizing: initial;
  box-sizing: initial;
  padding: 0 0 30px 0;
  margin: 20px 0 20px 0;
  height: 100%;
  width: 30%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}


.grid-item:hover .more-info i {
  padding-left: 20px;
  transition-duration: .5s;
}

.grid-item:hover .grid-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}

.grid-item-wrapper .productImage{
    height: 50%;
    text-decoration: none;
    border: none;
    outline: none;
}
.grid-item-wrapper .productImage img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    width: 225px;
    height: 230px;
    text-decoration: none;
    border: 0px;
    outline: none;
}

.grid-item-wrapper .description-product{
    height: 100%;
    text-align: center;
    padding-left: 10px;
}

.grid-item-wrapper .description-product p{
    margin : 0;
    padding-bottom: 5px;
}

.cart{
  border: 1px solid white;
  background-color: rgb(206, 255, 158);

}

button{
  cursor: pointer;
}

@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 33.33%;
  }
  .grid-row {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .grid-item-wrapper {
    width: 100%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 620px) {
  .col {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}